body {
  background-color: grey;
}

.a4 {
  background-color: white;
  border: 1px solid black;
  width: 700px;
  height: auto;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 50px;
  margin-top: 50px;
  padding: 10% 10% 10% 10%;
  box-shadow: 10px 10px rgba(0,0,0,0.25);
}

.grid-container {
  display: grid;
  grid-template-columns: auto 1fr 100px;
  grid-template-rows: auto;
  grid-column-gap: 10px;
}

.grid-header {
  grid-column: 1/4;
  border-bottom: 1px solid black;
}

.grid-photo {
  background-image: url("photo.png");
  background-size: 100px;
  background-position: center;
  background-repeat: no-repeat;
}

h1 {
  text-align: center;
}
